@{
    ViewData["Title"] = "Categories";
}

<a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="AddCategory">Add category</a>

<table id="categories" class="display cell-border compact stripe">
    <thead>
        <tr>
            <th>Name</th>
            <th>Films</th>
            <th>Nesting</th>
        </tr>
    </thead>
</table>
