@using System.Text.Json

@model Film
@{
    ViewData["Title"] = "Add Film";
    List<Category>? categories = ViewData["categories"] as List<Category>;
    var selectedList = Category.GetCategoriesOptions(categories);
}

<h1>Add Film</h1>

<form class="w-50 d-flex flex-column" asp-controller="Films" asp-action="CreateFilm" method="post">
    Name:  <input asp-for="Name" /> <br />
    Director: <input asp-for="Director" /><br />
    Release: <input asp-for="Release" /><br />

    @if (categories != null)
    {
        <div>Categories</div>
        <div id="film-categories" data-base="@JsonSerializer.Serialize(selectedList)" class="border rounded mt-1"></div>
    }
    <button class="mt-4 rounded" type="submit">Add</button>
</form>
