@{
    ViewData["Title"] = "Films";
}

<a class="nav-link text-dark" asp-area="" asp-controller="Films" asp-action="AddFilm">Add film</a>

<table id="films" class="display cell-border compact stripe">
    <thead>
        <tr>
            <th>Name</th>
            <th>Release</th>
            <th>Director</th>
            <th>Categories</th>
        </tr>
    </thead>
</table>

