@{
    ViewData["Title"] = "Manage Films";
}

<h1 class="text-center mb-1">Manage Films</h1>

<div class="forms d-flex flex-row">
    <div class="update-container w-50">
        <h3>Update</h3>
        <p>Select a film to update</p>
        <select id="FilmSelect" name="FilmSelect">
            <option selected></option>
        </select>
        <div id="surveyContainerUpdate"></div>
    </div>
    <div class="add-container w-50">
        <h3>Add</h3>
        <div id="surveyContainerAdd">Add</div>
    </div>
</div>