@model Film
@{
    ViewData["Title"] = "Update Film";
    List<Category>? categories = ViewData["categories"] as List<Category>;
}

<h1>Update Film</h1>

<form class="w-50 d-flex flex-column" asp-controller="Films" asp-action="UpdateFilm" asp-route-id="@Model.Id" method="post">
    Name:  <input asp-for="Name" /> <br />
    Director: <input asp-for="Director" /><br />
    Release: <input asp-for="Release" /><br />

    @if (categories != null)
    {
        <div>Categories</div>
        <select id="Categories" multiple asp-for="CategoriesIds" asp-items="Category.GetCategoriesOptions(categories)">
        </select>
    }
    <button class="mt-4 rounded" type="submit">Update</button>
</form>